<div class='row header text-center' id='about_image'>
  <div class='col-md-12'>
    <div class="thumbnail text-center">
    <%= image_tag 'about.png', class: "img-responsive"%>
      <div class="caption">
        <h1>About</h1>
      </div>
    </div>
  </div>
</div>

<div class='row' id='location'>
  <div class="col-md-8">
  </div>
  <div class="col-md-4">
  </div>
</div>

<div class='row' id='review1'>
  <div class="col-md-4">
  </div>
  <div class="col-md-8">
  </div>
</div>

<div class='row' id='review2'>
  <div class="col-md-8">
  </div>
  <div class="col-md-4">
  </div>
</div>