
<div class=" product-form">
  <br/>
<h1 class="text-center">Editing Product</h1>
<br/>
<%= render 'form', product: @product %>
<br/>


<div class=" text-center">
  <button class="btn btn-sm"><%= link_to 'See Product', @product %> </button>
  <button class="btn btn-sm"><%= link_to 'Back to Products', products_path %></button>
  <br/>
  <br/>
</div>

<div class=" text-center">

  <br/>
  <br/>
</div>

<br/>
</div
