
<div class=" product-form">
  <br/>
<h1 class="text-center">Editing Product</h1>
<br/>
<%= render 'form', product: @product %>
<br/>
<div class="text-center">
<%= link_to 'See Product', @product %> |
<%= link_to 'Back to Products', products_path %>
</div>
<br/>
</div
