/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Noto Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Sans', serif;
}

nav {
  padding-bottom: 0px;
}

nav ul {
  padding: none;
  margin-bottom: -5px !important;
}

.social {
  max-width: 75px;
  display: inline !important;
}

#about_image img{
  width: 100%;
  min-width: 700px;
}

#schedule {
  background-color: #ffffcc;
}
.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 2%;
    left: 0;
    width: 100%;
}


#schedule img{
  margin: auto;
  padding: 30px;
}


.table td{
  text-align: left;
}
section#contact {
    background-color: #222222;
    background-image: url('contact.jpg');
    background-position: center;
    background-repeat: no-repeat;
    color:white;
}

footer {
  margin-bottom: 0px !important;
}

#contact-person {
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: auto;
  margin-right: auto;
}
